html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background-color: #ffe500;
  margin: 0;
}

header {
  background-color: #ffe500;
}

h1 {
  font-family: "Sigmar One", cursive;
  color: #b20953;
  text-align: center;
  font-size: 3rem;
  margin: 0;
  padding: 0;
  line-height: 1.25;
}

.nav {
  text-align: center;
}

a {
  text-decoration: none;
  color: #fff;
}

.nav a:hover {
  background-color: #cc1465;
}

ol {
  padding: 0;
}

.nav li {
  font-family: Georgia;
  font-size: 1.125rem;
  color: #fff;
  display: inline-block;
  background-color: #b2a212;
  margin: 0;
  border-radius: 4px;
  line-height: 1.5;
}

.nav a {
  display: inline-block;
  padding: .2em .5em .3em;
  background-color: #b2a212;
  border-radius: 4px;
  color: #fff;
  text-decoration: none;
}

main {
  background-color: #fff;
  padding-bottom: .75em;
}

h2 {
  font-family: "Sigmar One", cursive;
  color: #b20953;
  font-size: 1.875rem;
  padding: .7em .5em;
  margin: 0;
}

p {
  font-size: 1.125rem;
  color: #2f2d13;
  text-align: center;
  text-align: justify;
  margin: 0;
  line-height: 1.5;
  padding: .2em .5em .3em;
}

footer {
  padding: .75em;
}

footer p {
  text-align: center;
  font-size: .75em;
  color: #2f2d13;
}

img {
  width: 100%;
  display: block;
}
